.hide {
  display: none;
}
/* #region Common Styles */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
  letter-spacing: 0.02em;
}
.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
  /* outline: 2px solid red;
  outline-offset: -2px; */
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media only screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}
button {
  padding: 0;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.curent {
  color: #404bbf;
}

.btn:hover,
.btn:focus {
  color: #fff;
  background-color: #404bbf;
}

/* #endregion */

/* #region Header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header > .container {
  display: flex;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
@media only screen and (min-width: 768px) {
  .header-nav {
    margin-right: 121px;
  }
}

.logo {
  display: inline-flex;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.header-logo .logo-dark {
  color: #2e2f42;
}
.nav-list {
  display: flex;
  gap: 40px;
}
@media only screen and (max-width: 767.98px) {
  .nav-list {
    display: none;
  }
}
.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.curent {
  position: relative;
}
.nav-link.curent::after {
  content: '';

  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: #404bbf;
}
.contacts {
  display: flex;
  font-style: normal;
  margin-left: auto;
  align-items: center;
}
.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media only screen and (max-width: 767.98px) {
  .contacts-list {
    display: none;
  }
}
@media only screen and (min-width: 1158px) {
  .contacts-list {
    flex-direction: row;
    gap: 40px;
  }
}
.contacts-link {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  .contacts-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}
@media only screen and (min-width: 1158px) {
  .contacts-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    padding: 16px 0;
  }
}
/* #endregion */

/* #region Hero */
.hero {
  background-color: #2e2f42;
  background-image:
    linear-gradient(to bottom, rgba(46, 47, 66, 0.7)),
    url(../images/people-office-mobile.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding-top: 72px;
  padding-bottom: 72px;
  max-width: 320px;
  margin: 0 auto;
}
@media (min-resolution: 2dppx) {
  .hero {
    background-image:
      linear-gradient(to bottom, rgba(46, 47, 66, 0.7)),
      url(../images/people-office-mobile@2x.png);
  }
}
@media only screen and (min-width: 768px) {
  .hero {
    background-image:
      linear-gradient(to bottom, rgba(46, 47, 66, 0.7)),
      url(../images/people-office-tablet.png);
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
  }
}
@media (min-resolution: 2dppx) {
  .hero {
    background-image:
      linear-gradient(to bottom, rgba(46, 47, 66, 0.7)),
      url(../images/people-office-tablet@2x.png);
  }
}
@media only screen and (min-width: 1158px) {
  .hero {
    background-image:
      linear-gradient(to bottom, rgba(46, 47, 66, 0.7)),
      url(../images/people-office.png);
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
  }
}
@media (min-resolution: 2dppx) {
  .hero {
    background-image:
      linear-gradient(to bottom, rgba(46, 47, 66, 0.7)),
      url(../images/people-office@2x.png);
  }
}
.hero > .container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin: 0 auto;
}
.hero-title {
  max-width: 216px;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07143;
    margin-bottom: 36px;
  }
}
@media only screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }
}
.btn {
  padding: 16px 32px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* #endregion */

/* #region Features */
.features-list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    gap: 72px 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .features-list {
    flex-wrap: nowrap;
  }
}
.features-item {
  width: 288px;
}
@media only screen and (min-width: 768px) {
  .features-item {
    width: 356px;
  }
}
@media only screen and (min-width: 1158px) {
  .features-item {
    width: 264px;
  }
}
.features-wrapper {
  display: none;
}
@media only screen and (min-width: 1158px) {
  .features-wrapper {
    display: flex;
    padding: 24px 100px;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }
}
.features-text {
  text-align: start;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
@media only screen and (min-width: 1158px) {
  .features-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}
.features-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: start;
}
@media only screen and (min-width: 1158px) {
  .features-description {
    font-weight: 400;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #endregion */

/* #region Team */
.team {
  background-color: #f4f4fd;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 72px;
}
@media only screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    gap: 64px 24px;
    justify-content: center;
  }
}
@media only screen and (min-width: 1158px) {
  .team-list {
    justify-content: space-between;
  }
}
.team-item {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  width: 264px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-detail {
  padding: 32px 16px;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-role {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

/* #endregion */

/* #region Portfolio */
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
  letter-spacing: 0.02em;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
@media only screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    gap: 72px 24px;
  }
}
.portfolio-item {
  background-color: #fff;
  width: 288px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  .portfolio-item {
    width: calc((100% - 24px * 1) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .portfolio-item {
    box-shadow: none;
    width: calc((100% - 24px * 2) / 3);
  }
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 40px 32px;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.portfolio-item:hover .overlay {
  transform: translateY(0);
}
.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: 0;
}
.portfolio-text {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-description {
  font-size: 16px;
  line-height: 1.5;
}
/* #endregion */

/* #region Social */
.socials-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus {
  background-color: #404bbf;
}
.socials-team {
  display: flex;
  gap: 24px;
}
.socials-icon {
  fill: #f4f4fd;
}
/* #endregion */

/* #region Footer */
.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}
.footer-right {
  width: 100%;
  max-width: 453px;
}
.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer > .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 72px 24px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .footer .container {
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
  }
}
@media only screen and (min-width: 1158px) {
  .footer .container {
    gap: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1167.98px) {
  .footer .container {
    padding: 0 108px;
  }
}
@media only screen and (min-width: 768px) {
  .footer-left {
    align-items: flex-start;
    text-align: left;
    max-width: 264px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-left {
    margin-right: 120px;
  }
}
.footer-middle {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .footer-middle {
    margin-right: auto;
    align-items: center;
    justify-content: center;
  }
}
.footer-logo {
  align-items: center;
  margin-bottom: 16px;
}
.footer-logo .logo-light {
  color: #f4f4fd;
}
.footer-description {
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-socials-list {
  display: flex;
  gap: 16px;
}
.footer-socials-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: #31d0aa;
}

.footer-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
@media only screen and (min-width: 768px) {
  .footer-form {
    flex-direction: row;
    gap: 24px;
  }
}
.footer-form-label::placeholder {
  color: #fff;
}
.footer-form-label {
  max-width: 264px;
  width: 100%;
}
.footer-form-field {
  width: 100%;
  height: 40px;
  padding: 8px 16px;

  border-radius: 4px;
  border: 1px solid #fff;
  outline: none;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}
.footer-form-field:focus {
  border-color: #31d0aa;
}
.footer-btn {
  width: fit-content;
  display: inline-flex;
  gap: 16px;
  padding: 8px 24px;
  height: 40px;
}
.footer-btn:focus,
.footer-btn:hover {
  background-color: #31d0aa;
}
/* #endregion */

/* #region Modal */
.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition-delay: 0ms;
}
.backdrop.is-open .modal {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%);
  transition-delay: 300ms;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 288px;
  min-height: 623px;
  padding: 72px 16px 16px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }
}
.modal-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: #e7e9fc;
  position: absolute;
  top: 24px;
  right: 24px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #2e2f42;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill, background-color;
}
.modal-btn:hover,
.modal-btn:focus {
  fill: white;
  background-color: #404bbf;
}
.modal-btn-icon {
  stroke: currentColor;
}
.modal-slogan {
  width: 256px;
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
@media only screen and (min-width: 768px) {
  .modal-slogan {
    width: 360px;
  }
}
.feedback-form-btn {
  padding: 16px 32px;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #fff;
}
.feedback-form-btn:hover,
.feedback-form-btn:focus {
  background-color: #404bbf;
}

/* #region Modal Form */
.feedback-wrapper {
  margin-bottom: 8px;
}
.feedback-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.feedback-field {
  position: relative;
}
.feedback-input {
  width: 100%;
  height: 40px;
  padding: 11px 34px;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 1158px) {
  .feedback-input {
    padding: 11px 38px;
  }
}
.feedback-input:focus {
  border-color: #4d5ae5;
}
.feedback-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-input:focus + .feedback-icon {
  fill: #4d5ae5;
}
.feedback-comment {
  width: 100%;
  height: 120px;
  padding: 8px 16px 16px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: none;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-comment:focus {
  border-color: #4d5ae5;
}
.feedback-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.feedback-wrapper-comm {
  margin-bottom: 16px;
}
.feedback-agreement {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 24px;
  color: #8e8f99;
}
.feedback-toggler {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, border-color;
  cursor: pointer;
}
.feedback-checkbox:checked + .feedback-toggler {
  background-color: #404bbf;
  border-color: transparent;
}
.feedback-toggler-icon {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-checkbox:checked + .feedback-toggler > .feedback-toggler-icon {
  opacity: 1;
}
.feedback-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.btn-send-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-send {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 169px;
}
/* #endregion */
/* #endregion */

/* #region Mobile Menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(100%);

  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
  padding: 72px 16px 40px;

  background-color: #fff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
  visibility: hidden;
}
@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu.is-open {
  pointer-events: visible;
  visibility: visible;
  transform: translateX(0);
}
.mobile-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-menu .mobile-menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  color: #2e2f42;
  border-radius: 100%;
  border: 1px solid #e7e9fc;
}
@media only screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}
.mobile-menu-nav {
  margin-bottom: auto;
}
.mobile-menu-nav-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-menu-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mobile-menu-nav-link.active {
  color: #404bbf;
}
.mobile-menu-contacts {
  margin-bottom: 48px;
}
.mobile-menu-contacts-item:not(:last-child) {
  margin-bottom: 24px;
}
.mobile-menu-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mobile-menu-contacts-link.active {
  color: #404bbf;
}
/* #endregion */
